@model MvcDbStok.Models.Entity.MUSTERILER
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Customer", FormMethod.Post))
            {
<div class="form-group">
    @Html.LabelFor(x => x.MUSTERIID)
    @Html.TextBoxFor(x => x.MUSTERIID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.MUSTERIAD)
    @Html.TextBoxFor(x => x.MUSTERIAD, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.MUSTERISOYAD)
    @Html.TextBoxFor(x => x.MUSTERISOYAD, new { @class = "form-control" })
</div>

<div>
    <button class="btn btn-warning">Güncelle</button>
</div>
            }

